[Desktop Entry]
Type=Application
Name=Simitone
Comment=The Sims 1 recreation using FreeSO engine
Exec=Simlauncher
Icon=Simitone
StartupWMClass=Simitone
Terminal=false
Categories=Game;Simulation;
Keywords=sims;simulation;freeso;
StartupNotify=true
